

@font-face {
	font-family: 'PTSansNarrow';
	src: url('PT_Sans_Narrow.eot');
	src: local('PT Sans Narrow'), local('PTSans-Narrow'), url('PT_Sans_Narrow.woff') format('woff'), url('PT_Sans_Narrow.ttf') format('truetype'), url('PT_Sans_Narrow.svg#PTSans-Narrow') format('svg');
}

@font-face {
	font-family: 'PTSansCaptionBold';
  font-weight: bold;
	src: url('PT_Sans_Caption_Bold.eot');
	src: local('PT Sans Caption'), local('PTSans-CaptionBold'), url('PT_Sans_Caption_Bold.woff') format('woff'), url('PT_Sans_Caption_Bold.ttf') format('truetype'), url('PT_Sans_Caption_Bold.svg#PTSans-CaptionBold') format('svg');
}

@font-face {
	font-family: 'PTSansCaption';
	src: url('PT_Sans_Caption.eot');
	src: local('PT Sans Caption'), local('PTSans-Caption'), url('PT_Sans_Caption.woff') format('woff'), url('PT_Sans_Caption.ttf') format('truetype'), url('PT_Sans_Caption.svg#PTSans-Caption') format('svg');
}

@font-face {
	font-family: 'PTSansBoldItalic';
  font-style: italic;
  font-weight: bold;
	src: url('PT_Sans_Bold_Italic.eot');
	src: local('PT Sans'), local('PTSans-BoldItalic'), url('PT_Sans_Bold_Italic.woff') format('woff'), url('PT_Sans_Bold_Italic.ttf') format('truetype'), url('PT_Sans_Bold_Italic.svg#PTSans-BoldItalic') format('svg');
}

@font-face {
	font-family: 'PTSansBold';
  font-weight: bold;
	src: url('PT_Sans_Bold.eot');
	src: local('PT Sans'), local('PTSans-Bold'), url('PT_Sans_Bold.woff') format('woff'), url('PT_Sans_Bold.ttf') format('truetype'), url('PT_Sans_Bold.svg#PTSans-Bold') format('svg');
}

@font-face {
	font-family: 'PTSansItalic';
  font-style: italic;
	src: url('PT_Sans_Italic.eot');
	src: local('PT Sans'), local('PTSans-Italic'), url('PT_Sans_Italic.woff') format('woff'), url('PT_Sans_Italic.ttf') format('truetype'), url('PT_Sans_Italic.svg#PTSans-Italic') format('svg');
}

@font-face {
	font-family: 'PTSans';
  font-weight: normal;
  font-style: normal;
	src: url('PT_Sans.eot');
	src: local('PT Sans'), local('PTSans-Regular'), url('PT_Sans.woff') format('woff'), url('PT_Sans.ttf') format('truetype'), url('PT_Sans.svg#PTSans-Regular') format('svg');
}

@font-face {
	font-family: 'PTSansNarrowBold';
  font-weight: bold;
	src: url('PT_Sans_Narrow_Bold.eot');
	src: local('PT Sans Narrow'), local('PTSans-NarrowBold'), url('PT_Sans_Narrow_Bold.woff') format('woff'), url('PT_Sans_Narrow_Bold.ttf') format('truetype'), url('PT_Sans_Narrow_Bold.svg#PTSans-NarrowBold') format('svg');
}

a {
  color: #4983F8;
  text-decoration: none !important;
  border-bottom: 1px dotted #4983F8;
}

a:visited {
  color: #64c;
}

a:hover {
  color: #57d;
}

body {
  font-family: "PTSans";
  font-size: 90%;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

p {
  line-height: 1.7;
  max-width: 50em;
}

body > article {
  margin-top: 15px;
  padding: 20px 128px 40px 256px;
  background: url("joegeldart-watermark.png") top left no-repeat;
}

body > article > header {
  margin-bottom: 32px;
}

body > article > header h1 {
  font-size: 220%;
  font-weight: bold;
  margin-bottom: 0;
}

body > article > header  h2 {
  margin-top: 0;
  color: #666;
}

body > article > header .author {
  display: run-in;
  text-transform: uppercase;
}

body > article > header .author::after {
  content: ", ";
}

body > article > header .published {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 80%;
}

body > article > header .published sup {
  font-size: 80%;
}

body > article > footer > nav {
  position: absolute;
  top: 170px;
  left: 10px;
  width: 96px;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 10px 10px;
}

body > article > footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body > article > footer li {
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 80%;
}

footer .copyright {
  margin-top: 20px;
  font-size: 80%;
}

figure {
  margin: 2em 0 2em 0;
  border-top: 1px solid #666;
  background-color: #ddd;
  background-color: rgba(73,131,248,0.02);
}

figure.code {
  counter-increment: listings;
}

figure.specification {
  counter-increment: specs;
}

figure.code code {
  white-space:pre-wrap;
}

figcaption {
  border-top: 1px solid #666;
  display: block;
  margin-top: 1em;
  padding-top: 0.3em;
  font-family: "PTSansCaption";
  text-align: center;
  font-size: 90%;
  width: 100%;
  color: #444;
}

.code > figcaption::before {
  content: "Listing " counter(listings) ". ";
}

.specification > figcaption::before {
  content: "Specification " counter(specs) ". ";
}

section, header, footer {
  clear: both;
}

/* CV Specific Things */

article.cv > section {
  margin-top: 2em;
}
article.cv > section h2 {
  margin-bottom: 0em;
}
section section {
  margin-bottom: 1em;
  padding-top: 1em;
}
section section+section {
  border-top: 1px solid #ddd;
}
section section p {
  margin-top: 0;
  font-size: 95%;
}
section section header h3 {
  margin-bottom: 0;
  margin-top: 0;
}
section section header h4 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #666 !important;
  font-size: 110%;
}
section section header h4 span {
  color: #666 !important;
}

#skills section, #interests section {
  clear: none;
  border: none;
}
#skills section h3, #interests section h3 {
  font-size: 90%;
  font-family: "PTSansBold";
}
#skills section h3::after, #interests section h3::after {
  content: ": ";
}
#skills section ul, #interests section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#skills section ul li, #interests section ul li {
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: -0.3em;
}
#skills section ul li+li::before, #interests section ul li+li::before {
  content: ", ";
}
#skills section ul li:last-child::before, #interests section ul li:last-child::before {
  content: " and ";
  padding-left: 0.3em;
}
